<form method="post" th:action="@{questions/{quizId}/new(quizId=${quizId})}" th:object="${question}">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">Question</label>
      <input
              type="text"
              class="form-control"
              id="title"
              name="question"
              th:field="*{title}"
              placeholder="What's question?">
    </div>
    <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
  </div>
  <div class="form-check-inline ">
    <label class="sr-only" >Answers</label>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <input
                    type="text"
                    class="form-control"
                    id="answer1"
                    name="answer1"
                    th:field="*{answer}"
                    placeholder="First answer">
          </div>
          <p th:if="${#fields.hasErrors('answer')}" class="text-danger" th:errors="*{answer}"></p>
        </div>
        <div class="col">
          <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="rightAnswer1"
                  th:selescted=""
          />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <input type="text"
                 class="form-control mb-2"
                 id="inlineFormInput"
                 placeholder="Jane Doe"/>
        </div>
        <div class="col">
          <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="option1"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class=" row">
          <div class="input-group mb-2 col">
            <input type="text"
                   class="form-control mb-2"
                   id="inlineFormInput"
                   placeholder="Jane Doe"/>
          </div>
          <div class="col">
            <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"/>
          </div>
        </div>
      </div>
      <div class="col">
        <div class=" row">
          <div class="input-group mb-2 col">
            <input type="text"
                   class="form-control mb-2"
                   id="inlineFormInput"
                   placeholder="Jane Doe"/>
          </div>
          <div class="col">
            <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>