<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Question Create</title>

</head>
<body layout:fragment="body" class="d-flex flex-column h-100">
<!-- Section-->
<section  class="py-5">
    <div class="container">
        <form method="post" th:action="@{/questions/{quizId}/new(quizId=${quizId})}" th:object="${question}">
            <div class="form-row">
                <div class="form-group col-md-6 mb-1">
                    <label for="title">Title</label>
                    <input
                            type="text"
                            class="form-control"
                            id="title"
                            name="title"
                            th:field="*{title}"
                            placeholder="What's question?">
                </div>
                <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
            </div>
            <p>Answers</p>
            <div class="col-md-6">
                <div class="row">
                    <div th:each="answer, answerStat : *{answers}" class="col">
                        <input
                                type="text"
                                class="form-control"
                                id="answer"
                                name="answers[__${answerStat.index}__]"
                                th:field="*{answers[__${answerStat.index}__]}"
                                placeholder="Make an answer">
                        <input
                                type="radio"
                                class="form-check-input"
                                name="rightAnswer"
                                th:value="*{__${answerStat.index}__}"
                                th:field="*{rightAnswerIndex}" />
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary m-2">Create</button>
        </form>
    </div>
</section>
</body>
</html>