<html xmlns:th="http://thmyelead.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Quiz List</title>
    <link rel="stylesheet" type="text/css" href="C:\GitHubProfile\web\src\main\resources\static\css\styles.css">
</head>
<body layout:fragment="body">
<!-- Header-->
<header class="masthead py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Find your Quiz</h1>
            <p class="lead fw-normal text-white-50 mb-0">Explore your possibilities.</p>
        </div>
    </div>
</header>
<!-- Section-->
<section  class="py-5">

</section>

<script src="js/scripts.js"></script>
</body>
</html>