<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Quiz Edit</title>

</head>
<body layout:fragment="body" class="d-flex flex-column h-100">
<!-- Section-->
<section  class="py-5">
    <div class="container">
        <form method="post" th:action="@{/quizzes/{quizId}/edit(quizId=${quiz.id})}" th:object="${quiz}">
            <input type="hidden" th:field="*{id}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            th:field="*{name}"
                            placeholder="Name of quiz">
                </div>
                <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
            </div>
            <div class="form-group">
                <label for="content">Details</label>
                <input
                        type="text"
                        class="form-control"
                        id="content"
                        name="content"
                        th:field="*{content}"
                        placeholder="Details of quiz">
            </div>
            <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
            <div class="form-group">
                <label for="photoUrl">photoUrl</label>
                <input
                        type="text"
                        class="form-control"
                        id="photoUrl"
                        name="photoUrl"
                        th:field="*{photoUrl}"
                        placeholder="Url for photo of quiz">
            </div>
            <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
            <div class="form-group col-md-4 mb-2" >
                <p class="mb-0">Select type</p>
                <select th:field="*{types}" class="form-select-lg" multiple>
                    <option th:each="type : ${types}" th:value="${type.id}" th:selected="${quiz.types.contains(type)}" th:text="${type.name}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</section>
</body>
</html>