<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Quiz Page</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body layout:fragment="body" >
        <!-- Quiz section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <!-- Quiz photo-->
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="${quiz.photoUrl}" alt="..." /></div>
                    <div class="col-md-6">
                        <!-- Quiz name-->
                        <h1 class="display-5 fw-bolder" th:text="${quiz.name}"></h1>
                        <p class="lead" th:text="${quiz.content}"></p>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <a th:href="@{/quiz{quizId}/game(quizId=${quiz.id})}" class="btn btn-outline-dark flex-shrink-0" type="button">Start Quiz</a>
                        </div>
                        <div class="col fs-5 mb-5 ">
                                <!-- Quiz types-->
                                <div class="container" >
                                    <div th:each="type :${quiz.types}" >
                                        <div class="col ">
                                            <div class="card h-auto float-lg-start m-1 text-center" >
                                                <!-- Quiz types-->
                                                <p th:text="${type.name}" class="m-lg-1" ></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mt-1">
                        <div class="d-flex justify-content-start">
                            <a class="btn btn-outline-dark flex-shrink-0 mr-1"
                               th:href="@{/quizzes/{quizId}/edit(quizId=${quiz.id})}">Edit</a>
                            <a class="btn btn-outline-dark flex-shrink-0 mr-1"
                               th:href="@{/quizzes/{quizId}/delete(quizId=${quiz.id})}">Delete</a>
                            <a class="btn btn-outline-dark flex-shrink-0"
                               th:href="@{/quiz{quizId}/questions(quizId=${quiz.id})}">
                                View Questions</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="C:\GitHubProfile\web\src\main\resources\static\js\quiz.js"></script>
    </body>
</html>
